.bg-custom-darkblue {
    background-color: #2E294E;
  }
  
  .tailwind-button-styles {
    display: flex; /* Add this property to display the label and checkbox inline */
    align-items: center; /* Add this property to align the checkbox vertically */
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 8px 16px;
    margin-right: 8px;
    margin-bottom: 16px;
    cursor: pointer;
  }

  .tailwind-game-item-styles h3 {
    font-size: 0.9rem;
    overflow-wrap: break-word;
    white-space: normal;
    line-height: 1.2;
    max-height: 2.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
  }
  
  .tailwind-button-styles:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .tailwind-container-styles {
    background-color: #2e294e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .tailwind-game-item-styles {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    border: 1px solid #ffffff;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
  }
  
  
  .tailwind-game-item-styles img {
    width: 100%;
    height: auto;
    min-height: 180px;
    object-fit: cover;
  }
  
  .tailwind-loading-indicator-styles {
    margin-top: 16px;
    color: #ffffff;
  }
  
  .tailwind-checkbox-styles {
    cursor: pointer;
    margin: 15px;
  }
  @media (min-width: 640px) {
    .game-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 768px) {
    .game-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .game-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (min-width: 1280px) {
    .game-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }