@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.justify-flex-start {
    justify-content: flex-start;
  }
