@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background-image: url("../../components/images/bg-photo.PNG");
    position: fixed; 
    top: 0; 
    left: 0;

    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

main {
    color: white;
    background-color: green;
    height: 400px;
    width: 50%;
    margin: auto;
    margin-bottom: 300px;
}

.companyLogo {
    margin: auto;
}

.companyLogo img {
    width: 400px;
    height: auto;
}

.card {
    background-color: #2E294E;
}

.leftSide {
    border-right: medium solid #282444;
}

.leftSide p {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
} 

.login.loginSection{
    background-color: #ffd400;
    color: #2E294E
}


.submit {
    background-color: #ffd400;
    color: #2E294E;
}

.submitForm {
    margin: 0 0 50px 0;
}

.submitForm .form-input, .submitForm button {
    height: 40px;
    margin: 5px auto;
}
.title {
    font-size: 50px;
}

.submitForm {
    padding-bottom: 60px;
}

.submitForm input{
    color: #2E294E;
    background-color: #eadeda;
    padding-left: 20px;
    font-family: 'FontAwesome', 'Arial';
}
.title {
    font-size: 38px;
}

.submitForm .login.form-input{
    height: 40px;
    margin: 16px auto;
}

.headerButton {
    width: 100px;
}