@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg {
    background-color: #820263;
}
h1 {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.align-center {
    align-items: center;
}
